@import "reset.css";
@import "variables.css";

/* Components */

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
*::-webkit-scrollbar {
    display: none;
}

body {
    overflow-y: scroll;
    overflow-x: scroll;
    color: #2e363e;
    height: 150vh;
    background-color: rgb(213, 247, 164);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    object-fit: cover;
}

.main-screen {
    padding: 0px var(--horizontal-space)
}